
extends layout

block content
    div
        .page-title
            .title_left
                h3
                    | Lista de clientes
            .title_right
                .col-md-5.col-sm-5.col-xs-12.form-group.pull-right.top_search
                    .input-group

        .col-md-12.col-sm-12.col-xs-12
            .x_panel
                .x_content
                    table#datatable-fixed-header.table.table-striped.table-bordered
                        thead
                            tr
                                th Id
                                th Nombre
                                th Correo
                                th Telefono 1
                                th Telefono 2
                                th n° Reportes
                                th
                        tbody
                            tr.even.pointer
                                td.a-center 1
                                td.a-center Mauricio Flores
                                td.a-center mauf@gmail.com
                                td.a-center 123456789
                                td.a-center 123456789
                                td.a-center 3
                                th.a-center Acciones
                            //each dato in datos
                                tr.even.pointer
                                    td.a-center

