// /menu footer buttons
.sidebar-footer.hidden-small
  a(data-toggle="tooltip" data-placement="top" title="Settings")
    span.glyphicon.glyphicon-cog(aria-hidden="true")
  a(data-toggle="tooltip" data-placement="top" title="FullScreen")
    span.glyphicon.glyphicon-fullscreen(aria-hidden="true")
  a(data-toggle="tooltip" data-placement="top" title="Lock")
    span.glyphicon.glyphicon-eye-close(aria-hidden="true")
  a(data-toggle="tooltip" data-placement="top" title="Logout" href="login.html")
    span.glyphicon.glyphicon-off(aria-hidden="true")