a.dropdown-toggle.info-number(href="javascript:;" data-toggle="dropdown" aria-expanded="false")
    i.fa.fa-envelope-o
    span.badge.bg-green 6
ul#menu1.dropdown-menu.list-unstyled.msg_list(role="menu")
    li
        a
            span.image
                img(src="images/img.jpg" alt="Profile Image")
            span
                span John Smith
                span.time 3 mins ago
            span.message
                | Film festivals used to be do-or-die moments for movie makers. They were where...
    li
        a
            span.image
                img(src="images/img.jpg" alt="Profile Image")
            span
                span John Smith
                span.time 3 mins ago
            span.message
                | Film festivals used to be do-or-die moments for movie makers. They were where...
    li
        a
            span.image
                img(src="images/img.jpg" alt="Profile Image")
            span
                span John Smith
                span.time 3 mins ago
            span.message
                | Film festivals used to be do-or-die moments for movie makers. They were where...
    li
        a
            span.image
                img(src="images/img.jpg" alt="Profile Image")
            span
                span John Smith
                span.time 3 mins ago
            span.message
                | Film festivals used to be do-or-die moments for movie makers. They were where...
    li
        .text-center
            a
                strong See All Alerts
                i.fa.fa-angle-right